.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-image: url("./assets/images/LandingPage.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: left;
}
#title {
  margin-bottom: 0;
  padding-top: 10vw;
  padding-left: 3vw;
  text-align: left;
  font-size: 4vw;
  color: white;
}
#description {
  margin-top: 0%;
  padding-left: 3vw;
  padding-right: 3vw;
  text-align: left;
  font-size: 1.25vw;
  color: white;
}
