.resume-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3vw;
  min-height: 100vh;
  background-color: black;
  color: white;
}

#resume-page__experience--title {
  font-size: 2vw;
}

#resume-page__experience {
  align-self: flex-start;
  font-size: 1.25vw;
}

#resume-page__projects--title {
  font-size: 2vw;
}
#resume-page__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
