.resume-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3vw;
  min-height: 100vh;
  background-color: black;
  color: black;
}
#resume-page__title {
  text-align: center;
  font-size: 3vw;
  color: white;
}
