.resume-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3vw;
  min-height: 100vh;
  background-color: black;
  color: white;
}
/* #resume-page__experience--title {
  color: white;
} */

#resume-page__experience {
  align-self: flex-start;
}

/* #resume-page__projects--title {
  color: white;
} */
