body{
    
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    font-family:cursive;
    color: white;
}
body#Home{
    background-image:url(../images/LandingPage.jpg);
}
.navbar{
    position: fixed;
    z-index: var(--zindex-nav);
    width: 100vw;
    padding: 0 1.6vw;
    /* Below is how you center the navbar */
    text-align: center;
}
.nav-list{
    display: inline-block;
    list-style-type: none;
    padding: 0.5vw;
}
.nav-list:hover{
    background-color:rgba(180, 180, 180, 0.2);
    transition: background-color 0.4s, color 0.4s;
    border-radius: 1vw;
}
.nav-list li{
    font-size: 1.5vw;
    display: inline-block;
    margin-right: 4vw;
}
.nav-list li:last-child{
    margin-right: 0;
}
.nav-list li a{
    color: white;
    text-decoration: none;
}
.nav-list li a:hover{
    color:red;
    transition: background-color 0.4s, color 0.4s;
}
#title{
    margin-bottom: 0;
    padding-top: 10vw;
    padding-left: 3vw;
    text-align: left;
    font-size: 4vw;
}
#description{
    margin-top: 0%;
    padding-left: 3vw;
    text-align: left;
    font-size: 1.25vw;
}
.button{
    display: inline-block;
    background-color: transparent;
    border: 0.1vw solid white;
    border-radius: 1vw;
    padding: 0.5vw 1.5vw;
    margin-left: 6.25vw;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1vw;
    transition: background-color 0.4s, color 0.4s;
}
.button:hover{
    background-color: rgba(180, 180, 180, 0.2);
    color: red;
}
.button + .button{
    margin-left: 1.25vw;
}
footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-left: 14.5vw;
}
.contact-container{
    display: flex;
    justify-content: center;
}
.contact{
    margin: 0 1.6vw;
    width: 3vw;
    height: auto;
    background-color: transparent;
    transition: background-color 0.4s, color 0.4s;
}
.contact:hover{
    background-color: rgba(180, 180, 180, 0.2);
}