.about-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3vw;
  min-height: 50vh;
  background-color: var(--bg-colour);
  color: white;
}

#about-page__title {
  font-size: var(--font-size-medium);
}

#about-page__about--and--image {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 3vw;
}

#about-page__about--and--image--about {
  margin-right: 2vw;
}
#about-page__about--and--image--my--image {
  flex-shrink: 0;
  max-width: 30%;
  text-align: center;
}

#about-page__about--and--image--my--image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
@media (max-width: 800px) {
  #about-page__title {
    font-size: var(--font-size-large);
  }
  #about-page__about--and--image {
    flex-direction: column;
    padding: 1vw;
  }
  #about-page__about--and--image--about {
    font-size: 5vw;
    line-height: 1.8vw;
    text-align: center;
  }
  #about-page__about--and--image--my--image img {
    display: none;
  }
}
