body,
html {
  margin: 0%;
  padding: 0%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  font-family: "Times New Roman", Times, serif;
  color: white;
  scroll-behavior: smooth;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 40%;
  padding: 0 1.6vw;
  text-align: center;
}
.nav-list {
  list-style-type: none;
  padding: 0.5vw;
  background-color: rgba(180, 180, 180, 1);
  border-radius: 2vw;
  display: flex;
  justify-content: space-around;
}
.nav-list li {
  font-size: 1.5vw;
  display: inline-block;
  margin-right: 4vw;
}
.nav-list li:last-child {
  margin-right: 0;
}
.nav-list li a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.nav-list li a:hover {
  color: red;
  transition: background-color 0.4s, color 0.4s;
}

.button {
  display: inline-block;
  background-color: transparent;
  border: 0.1vw solid white;
  border-radius: 1vw;
  padding: 0.5vw 1.5vw;
  margin-left: 6.25vw;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1vw;
  transition: background-color 0.4s, color 0.4s;
}
.button:hover {
  background-color: rgba(180, 180, 180, 0.2);
  color: red;
}
.button + .button {
  margin-left: 1.25vw;
}

footer {
  margin: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5em;
}

.footer-content {
  font-size: 1.5vw;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.slide-up {
  animation: slide-up 1000ms ease-out;
}

.hidden {
  opacity: 0;
}

@media (max-width: 800px) {
  .navbar {
    width: 60%;
  }
  .nav-list li {
    font-size: 2.5vw;
  }

  .footer-content {
    font-size: 2.5vw;
  }
}
