:root {
  --font-family: "Times New Roman", Times, serif;
  --text-colour: white;
  --bg-colour: black;
  --primary-colour: #3498db;
  --font-size-extra-small: 1vw;
  --font-size-small: 1.5vw;
  --font-size-medium: 2vw;
  --font-size-large: 2.5vw;
  --font-size-heading: 5vw;
  --font-size-subheading: 3vw;
  --line-height-text: 1.8;
  --font-size-extra-small-mobile: 2vw;
  --font-size-small-mobile: 3vw;
  --font-size-medium-mobile: 3.5vw;
  --font-size-large-mobile: 4vw;
  --font-size-heading-mobile: 7vw;
  --font-size-subheading-mobile: 4vw;
  --line-height-text-mobile: 2;
  --icon-size: 2.5vw;
  --icon-hover-bg: rgba(180, 180, 180, 0.2);
  --icon-size-mobile: 3vw;
}

body,
html {
  margin: 0%;
  padding: 0%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--bg-colour);
  font-family: var(--font-family);
  color: var(--text-colour);
  scroll-behavior: smooth;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.title {
  font-size: var(--font-size-large);
}

.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 70%;
  padding: 0 1.6vw;
  text-align: center;
}
.nav-list {
  list-style-type: none;
  padding: 0.5vw;
  background-color: rgba(180, 180, 180, 1);
  border-radius: 2vw;
  display: flex;
  justify-content: space-around;
}
.nav-list li {
  font-size: var(--font-size-medium);
  display: inline-block;
  margin-right: 4vw;
}
.nav-list li:last-child {
  margin-right: 0;
}
.nav-list li a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.nav-list li a:hover {
  color: red;
  transition: background-color 0.4s, color 0.4s;
}

.button {
  display: inline-block;
  background-color: transparent;
  border: 0.1vw solid white;
  border-radius: 1vw;
  padding: 0.5vw 1.5vw;
  margin-left: 6.25vw;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1vw;
  transition: background-color 0.4s, color 0.4s;
}
.button:hover {
  background-color: rgba(180, 180, 180, 0.2);
  color: red;
}
.button + .button {
  margin-left: 1.25vw;
}

.text {
  font-size: var(--font-size-small);
  line-height: var(--line-height-text);
}

.icon {
  margin: 1vw;
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
}
.icon:hover {
  transform: scale(1.1);
}

footer {
  margin: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5em;
}

.footer-content {
  font-size: var(--font-size-medium);
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.slide-up {
  animation: slide-up 1000ms ease-out;
}

.hidden {
  opacity: 0;
}

@media (max-width: 800px) {
  .title {
    font-size: var(--font-size-large-mobile);
  }
  .navbar {
    width: 70%;
  }
  .nav-list li {
    font-size: var(--font-size-medium-mobile);
  }
  .text {
    font-size: var(--font-size-small-mobile);
    line-height: var(--line-height-text-mobile);
  }
  .icon {
    width: var(--icon-size-mobile);
    height: var(--icon-size-mobile);
  }
  .footer-content {
    font-size: var(--font-size-medium-mobile);
  }
}
