/* From Uiverse.io by ElSombrero2 */
.card {
  overflow: visible;
  width: 25vw;
  height: 25vw;
  margin: 2vw;
  padding: 2vw;
}

.card__contents {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.card__contents__back,
.card__contents__front {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.card__contents__front {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.card__contents__front::before {
  position: absolute;
  content: " ";
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(
    90deg,
    transparent,
    #ff9966,
    #ff9966,
    #ff9966,
    #ff9966,
    transparent
  );
  animation: rotation_481 5000ms infinite linear;
}

.card__contents__front__content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-small);
}

.card:hover .card__contents {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.card__contents__back {
  transform: rotateY(180deg);
  color: white;
  position: relative;
  width: 100%;
  height: 100%;
}

.card__contents__back__content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__contents__back__links {
  display: flex;
  gap: 1vw;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
}
.card__contents__back__links__icon {
  position: absolute;
  top: 1vw;
  right: 1vw;
  display: flex;
  justify-content: center;
  width: fit-content;
}

.card__contents__back__links__icon img {
  width: 2vw;
  height: 2vw;
  cursor: pointer;
}

.description-content {
  box-shadow: 1vw #00000088;
  width: fit-content;
  max-width: 90%;
  height: fit-content;
  font-size: var(--font-size-small);
  margin: auto;
  padding: 1vw;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card__contents__back .card__contents__back__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__contents__back__image__circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffbb66;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}

#bottom {
  background-color: #ff8866;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background-color: #ff2233;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 800px) {
  .card {
    overflow: visible;
    width: 50vw;
    height: 50vw;
    margin: 2vw;
  }
  .card__contents__front__content {
    font-size: var(--font-size-small-mobile);
  }
  .card__contents__back__links__icon img {
    width: 4vw;
    height: 4vw;
    cursor: pointer;
  }
  .description-content {
    font-size: var(--font-size-small-mobile);
    justify-content: center;
  }
}
