.connect-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 1vw;
}

#connect-page__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
