.experience {
  line-height: 1.6;
}
.experience h2 {
  font-size: 1.5vw;
}

.experience h3 {
  font-size: 1.25vw;
}
.experience p,
.experience ul,
.experience li {
  font-size: 1.15vw;
}

@media (max-width: 800px) {
  .experience {
    line-height: 1.8;
  }
  .experience h2 {
    font-size: 2.5vw;
  }

  .experience h3 {
    font-size: 2.25vw;
  }
  .experience p,
  .experience ul,
  .experience li {
    font-size: 2vw;
  }
}
