.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-image: url("/assets/images/LandingPage.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: left;
}
#home-page__title {
  margin-bottom: 0;
  padding-top: 10vw;
  padding-left: 3vw;
  text-align: left;
  font-size: 6vw;
  color: white;
}
#home-page__description {
  margin-top: 0%;
  padding-left: 3vw;
  padding-right: 3vw;
  text-align: left;
  font-size: 3vw;
  color: white;
}
@media (max-width: 800px) {
  .home-page {
    background-image: url("/assets/images/LandingPage.webp");
  }
  #home-page__title {
    font-size: 10vw;
  }
  #home-page__description {
    font-size: 5vw;
  }
}
