.resume-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3vw;
  min-height: 50vh;
  background-color: var(--bg-colour);
  color: var(--text-colour);
}

#resume-page__experience--title,
#resume-page__projects--title {
  font-size: var(--font-size-medium);
}

#resume-page__experience {
  align-self: flex-start;
}

#resume-page__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  #resume-page__experience--title,
  #resume-page__projects--title {
    font-size: var(--font-size-large);
  }
}
