.resume-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3vw;
  min-height: 50;
  background-color: black;
  color: white;
}

#resume-page__experience--title {
  font-size: 2vw;
}

#resume-page__experience {
  align-self: flex-start;
}

#resume-page__projects--title {
  font-size: 2vw;
}
#resume-page__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  #resume-page__experience--title {
    font-size: 3vw;
  }
  #resume-page__projects--title {
    font-size: 3vw;
  }
}
